*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin: auto;
    width:80%;
}
nav{
    background-color: transparent;
    display: flex;
    margin-top: 13px
}
.nav{
    display: flex;
    margin-left: auto;
    margin-top: 13px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    margin-right: 30px;
    color: gray;
}
.container-head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 40px;
}
.col-sm-text, .col-sm-img, .col-sm-icons{
    width: 100%;
}
.col-sm-text{
    margin-top: 100px;
}
.col-sm-text p{
    font-size: 25px;
}
.col-sm-text h2{
    font-size: 40px
}
.col-sm-icons{
    margin-top: 140px;
}
.second-layer{
    margin: auto;
    width: 90%;
}
.container_Second{
    display: flex;
    margin-top: 100px;
    
}

.second{
    background-color: none;
    /* position: absolute; */
    width: 48%;
    height: 420px;
    border: 2px solid rgba(241, 114, 135, 1);
    margin-left: 50px;
    
}
.first{
    width: 92%;
    height: 400px;
    background: rgba(241, 114, 135, 1);
    margin: 10px;
    /* position: absolute; */
    /* right: 20; */
    /* top: 2; */
    /* z-index: 1; */
}
.Discover{
    margin-left: auto;
    width: 60%;
    margin-top: 50px;
}
.Discover h2{
    margin-top: px;
    color:rgba(241, 114, 135, 1);
}
.hr{
    width: 10%;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Discover p{
    width: 90%;
}
.profile{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 3px solid rgba(241, 114, 135, 1);
    padding: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.button{
    background-color: rgba(241, 114, 135, 1);
    color: white;
    padding:10px;
    font-size: 20px;
}
.last{
    width: 100%;
    margin: auto;
}
.last #h2{
    margin-top: 40px;
}
.color{
    color:rgba(241, 114, 135, 1);
}
.hr1{
    width: 5%;
    height: 2px;
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}
.project{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pro1{
    border: 2px solid rgba(241, 114, 135, 1);
    width: 40% !important;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 600;
}

@media only screen and(max-width: 720px) {
    .container-head{
        display: flex;
        flex-wrap: wrap;
    }
    .container_Second{
        flex-wrap: wrap;
    }
}

